*{
    margin: 0;
    padding: 0;
}

.container1{
    background-image: url("cctv.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title button{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
    color: black;
}

.title h3{
    padding-top: 10px;
}


.container2 h3{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
}

.container2 span{
    color: #ac407b;
}

.container2{
    display: grid;
    place-items: center;
}

.parent{
    display: flex;
    flex-direction: row;
}

.rightdiv{
    background-image: url("tab.jpg");
    background-size: cover;
    border-radius: 10px;
}

.box{
    margin: 30px;
    height: 280px;
    width: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: gray;
    text-align: justify;
}

.container3{
    background-color: #e5e3e3;
    /* height: 70vh; */
}


.container3 h3{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
}

.container3 span{
    color: #ac407b;
}

.parent2{
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    gap: 20px;
    padding-top: 50px;
}

.box2{
    height: 130px;
    width: 400px;
    display: flex;
}

.logo{
    width: 40%;
    text-align: center;
}

.logo1{
    font-size: 130px;
    margin-top: -25px;
}

.logo2{
    font-size: 90px;
    margin-top: -18px;
}

.logo3{
    font-size: 90px;
    margin-top: -16px;
}

.logo4{
    font-size: 90px;
    margin-top: -10px;
}

.description{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-align: justify;
}

.container4{
    background-image: url("office1.webp");
    height: 60vh;
    background-size: cover;
    position: relative;
}

.container4 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 30px;
}

.container4 h3 span{
    color: #ac407b;
}

.container5{
    display: grid;
    place-items: center;
}

.container5 h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
}

.container5 h3 span{
    color: #ac407b;
}

.parent3{
    display: flex;
    flex-direction: row;
}

.use1{
    border: 1px solid;
    margin: 30px;
    height: 280px;
    width: 450px;
}

.leftimgdiv{
    background-image: url("cctv2.jpg");
    background-size: cover;
    border-radius: 10px;
}


@media only screen and (max-width:768px){
    .title button{
        width: 190px;
        height: 25px;
        margin-top: 20px;
        cursor: pointer;
        color: black;
    }

    .container1{
        background-image: url("cctv.jpg");
        height: 50vh;
        width: 100%;
        background-size: cover;
    }

    .title{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .container2{
        display: grid;
        place-items: center;
    }

    .parent{
        flex-direction: column;
    }

    .box{
        margin: 30px;
        height: 250px;
        width: 350px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .parent2{
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 20px;
    }

    .logo1{
    font-size: 120px;
    margin-top: -25px;
    }

    .logo4{
        font-size: 80px;
        margin-top: -10px;
    }

    .container4{
        height: 60vh;
        background-size: cover;
        position: relative;
    }

    .container4 h3{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-size: 25px;
    }

    .parent3{
        display: flex;
        flex-direction: column;
    }

    .use1{
        border: 1px solid;
        margin: 30px;
        height: 250px;
        width: 350px;
    }

}
