*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
}

.container1{
    background-image: url("https://i.postimg.cc/VvWQyyNP/cctv.webp");
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.title button{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    background-color: #ac407b;
    border: none;
    border-radius: 15px;
}


.title h3{
    padding-top: 10px;
}


.container2 h3{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}

.container2 span{
    color: #ac407b;
}

.container2{
    display: grid;
    place-items: center;
    width: 100%;
}

.parent{
    display: flex;
    flex-direction: row;
}

.rightdiv{
    background-image: url("https://i.postimg.cc/mg5xWyTk/tab.webp");
    background-size: cover;
    border-radius: 10px;
}

.box{
    margin: 30px;
    height: 280px;
    width: 450px;
    font-size: 20px;
    color: gray;
    text-align: justify;
}

.container3{
    background-color: #e5e3e3;
    width: 100%;
    /* height: 70vh; */
}


.container3 h3{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}

.container3 span{
    color: #ac407b;
}

.parent2{
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    gap: 20px;
    padding-top: 50px;
}

.box2{
    height: 130px;
    width: 400px;
    display: flex;
}

.logo{
    width: 40%;
    text-align: center;
    color: #ac407b;
}

.logo1{
    font-size: 120px;
    margin-top: -35px;
}

.logo2{
    font-size: 80px;
    margin-top: -18px;
}

.logo3{
    font-size: 90px;
    margin-top: -16px;
}

.logo4{
    font-size: 70px;
    margin-top: -10px;
}

.description{
    width: 100%;
    font-size: 13px;
    text-align: justify;
}

.container4{
    background-image: url("https://i.postimg.cc/MKzJ7Gs6/office1.webp");
    height: 60vh;
    background-size: cover;
    position: relative;
    width: 100%;
}

.container4 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.container4 h3 span{
    color: #ac407b;
}

.container5{
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.container5 > h3{
    text-align: center;
    margin-top: 40px;
}

.container5 h3 span{
    color: white;
}

.parent3{
    display: flex;
    flex-direction: row;
}

.use1{
    margin: 30px;
    height: 280px;
    width: 450px;
}

.leftimgdiv{
    background-image: url("https://i.postimg.cc/t4T0cMQ8/cctv2.webp");
    background-size: cover;
}

.rightimgdiv > div > h5{
    float: left;
    font-size: 20px;
}

.icon1{
    display: flex;
    margin-top: 43px;
}

.icon2{
    display: flex;
}
.icon3{
    display: flex;
}
.icon4{
    display: flex;
}

.text{
    width: 100%;
    font-size: 18px;
    color: white;
}

.text > h5{
    margin: 5px;
}

.icon{
    width: 15%;
    height: 60px;
    font-size: 42px;
}

.container6{
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #e5e3e3;
}

.container6 > h3{
     text-align: center;
     margin-top: 30px;
}

.container6 > h3 > span{
    color: #ac407b;
}

.parent4{
    display: flex;
    flex-direction: row;
}

.card{
    height: 250px;
    width: 300px;
    border: 1px solid;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover{
    cursor: pointer;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
}

.card > div{
    display: flex;
    flex-direction: row;
}

.symbol{
    height: 60px;
    width: 85px;
    font-size: 40px;
    margin: 5px 0 0 35px;
}

.symtitle{
    width: 100%;
    font-size: 17px;
    margin: 15px 0 0 0px;
}

.paragraph{
    height: 175px;
    width: 280px;
    margin: 6px 0 0 8px;
    text-align: justify;
    font-size: 18px;
}

.container7 > h3{
   text-align: center;
   margin-top: 70px;
   font-size: 15px;
   width: 80%;
}

.container7{
    display: grid;
    place-items: center;
    width: 100%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.social{
    display: flex;
    margin-top: 40px;
    font-size: 25px;
}

.app{
    margin: 10px;
}

#link{
    text-decoration: none;
    color: black;
}

.app:hover{
    cursor: pointer;
    color: white;
}

#link:hover{
    cursor: pointer;
    color: white;
}

.container7 > hr{
    width: 90%;
    margin-top: 10px;
}

.container7 > h4{
    margin-top: 20px;
}

.btn {
    animation: shimmer 3s linear infinite;
    animation-delay: 1.2s;
    background-image: linear-gradient(-65deg, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, .8) 42%, rgba(255, 255, 255, 0) 56%);
    background-size: 400% 110%;
  }

  @keyframes shimmer {
    0% {
      background-position: 100% 50%;
    }

    30% {
      background-position: 0% 50%;
    }
  }

@media only screen and (max-width:768px){
    .title button{
        width: 190px;
        height: 25px;
        margin-top: 20px;
        cursor: pointer;
        color: white;
    }

    .container1{
        background-image: url("https://i.postimg.cc/VvWQyyNP/cctv.webp");
        height: 50vh;
        width: auto;
        background-size: cover;
    }

    .title{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: green;
        font-size: 14px;
    }

    .container2{
        display: grid;
        place-items: center;
        width: auto;
    }

    .leftdiv{
        font-size: 18px;
    }

    .rightdiv{
        height: 260px;
        width: 400px;
        background-repeat: no-repeat;
    }

    .container3{
        width: auto;
    }

    .container3 > h3{
        font-size: 20px;
    }

    .parent{
        flex-direction: column;
    }

    .box{
        margin: 30px;
        height: 250px;
        width: 350px;
    }

    .parent2{
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 20px;
    }

    .description{
        font-size: 10px;
    }

    .logo1{
    font-size: 80px;
    margin-top: -25px;
    }

    .logo2, .logo3{
        font-size: 70px;
    }
    

    .logo4{
        font-size: 50px;
        margin-top: -10px;
    }

    .container4{
        height: 60vh;
        background-size: cover;
        position: relative;
        width: auto;
    }

    .container4 h3{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-size: 27px;
    }

    .parent3{
        display: flex;
        flex-direction: column;
    }

    .use1{
        margin: 30px;
        height: 250px;
        width: 350px;
    }

    .parent3{
        display: flex;
        flex-direction: column;
    }

    .icon1{
        display: flex;
        margin-top: 40px;
    }
    
    .icon2{
        display: flex;
    }
    .icon3{
        display: flex;
    }
    .icon4{
        display: flex;
    }

    .icon{
        font-size: 38px;
    }

    .parent4{
        display: flex;
        flex-direction: column;
    }

    .container5{
        width: auto;
        font-size: 20px;
    }
    .container6{
        width: auto;
    }
    
    .container7 > h3{
        text-align: center;
        margin-top: 70px;
        font-size: 12px;
     }
     
     .container7{
         display: grid;
         place-items: center;
         width: auto;
     }

     .container7 > h3{
         color: white;
     }
     
     .social{
         display: flex;
         margin-top: 40px;
         font-size: 20px;
     }
     
     .app{
         margin: 10px;
     }
     
     .app:hover{
         cursor: pointer;
     }
     
     .container7 > hr{
         width: 90%;
         margin-top: 10px;
         color: white;
     }
     
     .container7 > h4{
         margin-top: 20px;
         font-size: 12px;
         color: white;
     }
    

}
